{% extends 'base.html.twig' %}

{% block title %} Changer le mot de passe{% endblock %}
{#HEADER#}
{% block headerTitle %}Changer de mot de passe{% endblock %}
{% block headerSubtitle %}Lorem ipsum dolor sit amet, consectetur adipisicing elit. Incidunt, quaerat?{% endblock %}
{#BUTTON#}
{% block buttonSuccesUrl %}{% endblock %}
{% block buttonSucces %}Retour à votre profil{% endblock %}
{% block buttonInfoUrl %}{% endblock %}
{% block buttonInfo %}Accueil{% endblock %}

{% block infoTitle %}
    Information
{% endblock %}

{% block info %}
    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Dicta dignissimos earum expedita molestias unde. A
        accusantium adipisci aspernatur cupiditate eaque esse eum explicabo, facere facilis fugiat illum impedit inventore
        ipsum itaque magnam maiores maxime molestiae mollitia nesciunt non perferendis quae quas quibusdam repellendus rerum
        similique tenetur totam ullam unde ut?</p>
    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Dicta dignissimos earum expedita molestias unde. A
        accusantium adipisci aspernatur cupiditate eaque esse eum explicabo, facere facilis fugiat illum impedit inventore
        ipsum itaque magnam maiores maxime molestiae mollitia nesciunt non perferendis quae quas quibusdam repellendus rerum
        similique tenetur totam ullam unde ut?</p>
{% endblock %}
{% block bodyTitle %}
    Changer de mot de passe
{% endblock %}
{% block body %}
    <div class="container">
        {{ form_start(form) }}
        <fieldset>
            {{ form_widget(form) }}
            <button type="submit" class="btn btn-primary">Comfirmez l'inscription</button>
        </fieldset>
        {{ form_end(form) }}
    </div>
{% endblock %}
