{% extends 'base.html.twig' %}
{# HEAD #}
{% block title %}Accueil{% endblock %}
{# HEADER#}
{% block headerTitle %}<i class="text-danger fas fa-dice-d20"></i> AppJdr{% endblock %}
{% block headerParagraphTitle %}Lorem ipsum dolor sit amet, consectetur adipisicing elit. Asperiores cum fugiat quo ut voluptates voluptatum.{% endblock %}
{% block headerSubtitle %}Bienvenue{% endblock %}
{% block headerParagraph %}Lorem ipsum dt. Incidunt, quaerat? adipisicing elit. Incidunt, quaerat?{% endblock %}
{% block headerBadge %}{% endblock %}
{% block buttonHeader %}<i class="fas fa-user-plus"></i> Inscrivez-vous gratuitement !{% endblock %}
{% block buttonLinkHeader %}{{ path('account_registration') }}{% endblock %}

{% block headerImage %}{% endblock %}
{# BODY#}
{% block infoTitle %}Services{% endblock %}

{% block info %}
    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Dicta dignissimos earum expedita molestias unde. A
        accusantium adipisci aspernatur cupiditate eaque esse eum explicabo, facere facilis fugiat illum impedit inventore
        ipsum itaque magnam maiores maxime molestiae mollitia nesciunt non perferendis quae quas quibusdam repellendus rerum
        similique tenetur totam ullam unde ut?</p>
    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Dicta dignissimos earum expedita molestias unde. A
        accusantium adipisci aspernatur cupiditate eaque esse eum explicabo, facere facilis fugiat illum impedit inventore
        ipsum itaque magnam maiores maxime molestiae mollitia nesciunt non perferendis quae quas quibusdam repellendus rerum
        similique tenetur totam ullam unde ut?</p>
    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Dicta dignissimos earum expedita molestias unde. A
        accusantium adipisci aspernatur cupiditate eaque esse eum explicabo, facere facilis fugiat illum impedit inventore
        ipsum itaque magnam maiores maxime molestiae mollitia nesciunt non perferendis quae quas quibusdam repellendus rerum
        similique tenetur totam ullam unde ut?</p>
    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Dicta dignissimos earum expedita molestias unde. A
        accusantium adipisci aspernatur cupiditate eaque esse eum explicabo, facere facilis fugiat illum impedit inventore
        ipsum itaque magnam maiores maxime molestiae mollitia nesciunt non perferendis quae quas quibusdam repellendus rerum
        similique tenetur totam ullam unde ut?</p>
{% endblock%}
{% block bodyTitle %}
    Inscription
{% endblock %}
{% block body %}

    <div class="container-fluid col-10 mx-auto p-3">
        {{ form_start(form) }}
        <fieldset class="row p-5 mt-2">
            {{ form_widget(form) }}
            <p>Obligatoire <strong><abbr title="Obligatoire">*</abbr></strong>.</p>
            <button type="submit" class="btn btn-primary">Comfirmez l'inscription</button>
        </fieldset>
        {{ form_end(form) }}
    </div>
{% endblock %}
