<footer class="col-12 mx-auto bg-primary pt-4 border-top border-info footer-copyright text-center py-3">
© 2020 Copyright:
            <a class="text-light dropdown-item" href="#"><h5><i class="fas fa-dice-d20 text-danger"></i> AppJdr.com</h5></a>


</footer>