
.sidenav {
    height: 500px;
    width: 15%;
    position: fixed;
    z-index: 1;
    /*top: 100px;*/
    right: 0;
    /*overflow-x: scroll;*/
    transition: 1.2s;
}

/*.sidenav a {*/
/*    padding: 8px 8px 8px 8px;*/
/*    text-decoration: none;*/
/*    font-size: 25px;*/
/*    color: #818181;*/
/*    transition: 0.3s;*/
/*}*/

/*.sidenav a:hover {*/
/*    color: #f1f1f1;*/
/*}*/

/*.sidenav .closebtn {*/
/*    position: absolute;*/
/*    top: 0;*/
/*    right: 25px;*/
/*    font-size: 36px;*/
/*    margin-left: 50px;*/
/*}*/

/*.sidenav .openbtn {*/
/*    position: absolute;*/
/*    top: 0;*/
/*    right: 25px;*/
/*    margin-left: 50px;*/
/*}*/

#main {
    transition: margin-left .5s;
    padding: 16px;
}

@media screen and (max-height: 450px) {
    .sidenav {padding-top: 15px;}
    .sidenav a {font-size: 18px;}
}
