
.sidenav {
    height: 500px;
    width: 15%;
    position: fixed;
    z-index: 1;
    /*top: 100px;*/
    top: 90px;
    right: 0;
    /*overflow-x: scroll;*/
    transition: 1.2s;
}


.sidenavChat {
    height: 500px;
    width: 15%;
    position: fixed;
    z-index: 1;
    bottom: 10px;
    right: 0;
    overflow-x: hidden;
    transition: 1.2s;
}

.sidenavDice {
    height: 500px;
    width: 15%;
    position: fixed;
    z-index: 1;
    bottom: 10px;
    left: 0;
    overflow-x: hidden;
    transition: 1.2s;
}

/*.sidenav a {*/
/*    padding: 8px 8px 8px 8px;*/
/*    text-decoration: none;*/
/*    font-size: 25px;*/
/*    color: #818181;*/
/*    transition: 0.3s;*/
/*}*/

/*.sidenav a:hover {*/
/*    color: #f1f1f1;*/
/*}*/

/*.sidenav .closebtn {*/
/*    position: absolute;*/
/*    top: 0;*/
/*    right: 25px;*/
/*    font-size: 36px;*/
/*    margin-left: 50px;*/
/*}*/

/*.sidenav .openbtn {*/
/*    position: absolute;*/
/*    top: 0;*/
/*    right: 25px;*/
/*    margin-left: 50px;*/
/*}*/

/*#main {*/
/*    transition: margin-left .5s;*/
/*    padding: 16px;*/
/*}*/

/*@media screen and (max-height: 450px) {*/
/*    .sidenav {padding-top: 15px;}*/
/*    .sidenav a {font-size: 18px;}*/
/*}*/


/*body {*/
/*    margin: 0;*/
/*    padding: 0;*/
/*    !*overflow: hidden;*!*/

/*    background-image: url("https://i.pinimg.com/originals/06/df/df/06dfdfb4440be8d4c8f0c1d5615eff03.jpg");*/
/*    !*background-size: cover;*!*/
/*    background-size: 100% 100%;*/
/*    background-position: center;*/
/*    background-repeat: no-repeat;*/
/*    background-position-y: 90px;*/
/*}*/
