{% extends 'base.html.twig' %}

{% block title %}Catégories{% endblock %}
{# HEADER#}
        {% block headerTitle %}Categories{% endblock %}
        {% block headerParagraphTitle %}{% endblock %}
        {% block headerSubtitle %}AppJdr{% endblock %}
        {% block headerParagraph %}<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Incidunt, quaerat? adipisicing elit.
            Incidunt, quaerat? adipisicing elit. Incidunt, quaerat? adipisicing elit. Incidunt, quaerat?</p>{%
            endblock %}
        {% block headerBadge %}{% endblock %}
        {% block buttonHeader %}{% endblock %}


{% block infoTitle %}
    Information
{% endblock %}

{% block info %}
    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Dicta dignissimos earum expedita molestias unde. A
        accusantium adipisci aspernatur cupiditate eaque esse eum explicabo, facere facilis fugiat illum impedit inventore
        ipsum itaque magnam maiores maxime molestiae mollitia nesciunt non perferendis quae quas quibusdam repellendus rerum
        similique tenetur totam ullam unde ut?</p>
{% endblock %}
{% block bodyTitle %}
    Qui sommes nous
{% endblock %}

{% block body %}
    Lorem ipsum dolor sit amet, consectetur adipisicing elit. Pariatur, ullam.
{% endblock %}
