{% extends 'base.html.twig' %}

{# HEAD #}
{% block title %}A propos{% endblock %}
{# HEADER#}
{% block headerTitle %}Bienvenue{% endblock %}
{% block headerParagraphTitle %}{% endblock %}
{% block headerSubtitle %}AppJdr{% endblock %}
{% block headerParagraph %}Lorem ipsum dt. Incidunt, quaerat? adipisicing elit. Incidunt, quaerat?{% endblock %}
{% block headerBadge %}{% endblock %}
{% block buttonHeader %}{% endblock %}
{% block headerImage %}{% endblock %}
{# INFO#}
{% block infoTitle %}Info{% endblock %}
{% block info %}
    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Architecto cum dolorem doloribus ducimus omnis praesentium
        ratione tenetur voluptas voluptatem voluptatum. Accusantium adipisci amet animi, assumenda blanditiis commodi dolor dolores eaque
        earum
        eius et, harum, magnam minima mollitia odit officiis porro provident quasi quo recusandae repudiandae sequi soluta temporibus unde
        ut!</p>
{% endblock %}
{# BODY#}
{% block bodyTitle %}Qui sommes nous?{% endblock %}
{% block body %}

    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Architecto cum dolorem doloribus ducimus omnis praesentium
        ratione tenetur voluptas voluptatem voluptatum. Accusantium adipisci amet animi, assumenda blanditiis commodi dolor dolores eaque
        earum eius et, harum, magnam minima mollitia odit officiis porro provident quasi quo recusandae repudiandae sequi soluta temporibus unde
        ut!</p>
    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Architecto cum dolorem doloribus ducimus omnis praesentium
        ratione tenetur voluptas voluptatem voluptatum. Accusantium adipisci amet animi, assumenda blanditiis commodi dolor dolores eaque
        earum eius et, harum, magnam minima mollitia odit officiis porro provident quasi quo recusandae repudiandae sequi soluta temporibus unde
        ut!</p>
    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Architecto cum dolorem doloribus ducimus omnis praesentium
        ratione tenetur voluptas voluptatem voluptatum. Accusantium adipisci amet animi, assumenda blanditiis commodi dolor dolores eaque
        earum eius et, harum, magnam minima mollitia odit officiis porro provident quasi quo recusandae repudiandae sequi soluta temporibus unde
        ut!</p>
    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Architecto cum dolorem doloribus ducimus omnis praesentium
        ratione tenetur voluptas voluptatem voluptatum. Accusantium adipisci amet animi, assumenda blanditiis commodi dolor dolores eaque
        earum eius et, harum, magnam minima mollitia odit officiis porro provident quasi quo recusandae repudiandae sequi soluta temporibus unde
        ut!</p>
{% endblock %}
